.fair-section{
	width: 100%;
	min-height: 910px;
	background: url(../img/bg-main.png);
	background-size: cover;
}

.container_nav{
	width: 100%;
	min-height: 80px;
	background-color: #0099cc;
	border-top: 1px solid white;
}

.para-section{
	width: 100%;
	min-height: 100vh;
}

.slider-section{
	width: 100%;
	min-height: 100vh;
	background: url(../img/slider.jpg);
	background-size: cover;
	align-items: center;
	display: flex;
}

.contact-section{
	width: 100%;
	min-height: 100vh;
	background-color: #fff;
}

.conect-section{
	width: 100%;
	min-height: 80px;
	background-color: #0099cc;
}

.serices-section{
	width: 100%;
	min-height: 100vh;
}

.gallery-section{
	width: 100%;
	min-height: 100vh;
}

.button-up {
	width: 50px;
	height: 50px;
	border-radius: 6px;
	color: white;
	border: 1px solid white;
	background-color: rgba(25, 111, 192, 0.3);
	position: fixed;
	bottom: 30px;
	right: 30px;
	font-size: 24px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease-in-out;
	z-index: 10;
	&.is-visible {
		opacity: 1;
		pointer-events: auto;
		transform: rotate(-10deg)
	}
	&:hover {
		background-color: rgba(25, 111, 192, 0.7);
		cursor: pointer;
		transform: rotate(0deg)
	}
}
.hidden {
	opacity: 0;
}

.visible {
	opacity: 1;
}