<section class="contact-section" id="contact">
	<div class="contact-section__cont">
		<div class="contact-section__wrap text-center">
			<p class="contact-section__title">contact us</p>
			<p class="contact-section__text">Fill up form below foe appointment. All fields are required.</p>
			<p class="getin__title offset-sm-5">GET IN TOUCH</p>
		</div>
		<div class="contact-section__formwrap">
			<form class="contact-section__form">
				<input type="text" class="contact-section__input" placeholder="Your Name">
				<input type="email" class="contact-section__input" placeholder="Your Email">
				<input type="tel" class="contact-section__input" placeholder="Your Phone">
				<input type="text" class="contact-section__input" placeholder="Preferred date & Time">
				<input type="Message" class="contact-section__inputLong" placeholder="Your Maseege Here">
				<input type="button" class="contact-section__button" value="submit">
			</form>
			<div class="contact-section__getin getin offset-sm-1">
				<div class="contact-section__block">
					<div class="contact-section__aside fa fa-clock"></div>
					<div class="contact-section__day">
						<p>Monday - Friday:</br> 9:00am - 6:00pm</p>
					</div>
				</div>
				<div class="contact-section__block">
					<div class="contact-section__aside fa fa-pencil"></div>
					<div class="contact-section__day">
						<p>123 Main Street </br>Your City, State Country.</p>
					</div>
				</div>
				<div class="contact-section__block">
					<div class="contact-section__aside fa fa-phone"></div>
					<div class="contact-section__day">
						<p>Phone: 310.555.1213  </br>Fax: 310.555.1213</p>
					</div>
				</div>
				<div class="contact-section__block">
					<div class="contact-section__aside fa fa-envelope"></div>
					<div class="contact-section__day">
						<p>www.yourdomain.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>