<section class="conect-section" id="conect">
	<div class="conect-section__cont">
		<div class="conect-section__wrap text-center">
			<p class="conect-section__title">© Copyright 2014  - 2015, All Rights Reserved Designed by: www.designoatmeal.com</p>
			<p class="conect-section__text offset-sm-5">Conect with us</p>

			<div class="conect-section__social">
				<ul class="conect-section__list">
					<li class="conect-section__item fa fa-facebook-f"><a href="#" class="conect-section__link"></a></li>
					<li class="conect-section__item fa fa-twitter"><a href="#" class="conect-section__link"></a></li>
					<li class="conect-section__item fa fa-linkedin-in"><a href="#" class="conect-section__link"></a></li>
					<li class="conect-section__item fa fa-google-plus-g"><a href="#" class="conect-section__link"></a></li>
					<li class="conect-section__item fa fa-github-alt"><a href="#" class="conect-section__link"></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<button id="button-up" class="button-up">
	<span class="ion-chevron-up"></span>
</button>
<script src="dist/js/script.js"></script>
</body>
</html>	