<section class="gallery-section" id="gallery">
	<div class="gallery-section__cont">
		<div class="gallery-section__wrap text-center">
			<h1 class="gallery-section__title">OUR PHOTO GALLERY</h1>
			<p class="gallery-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<ul class="gallery-section__list">
				<li class="gallery-section__item"><a href="#massage" class="gallery-section__link activ" data-filter="*">MASSAGE</a></li>
				<li class="gallery-section__item"><a href="#facial" class="gallery-section__link" data-filter=".spabath">Facial</a></li>
				<li class="gallery-section__item"><a href="#spabath" class="gallery-section__link" data-filter=".manicare">SPA BATH</a></li>
				<li class="gallery-section__item"><a href="#manicare" class="gallery-section__link" data-filter=".facial">MANICARE</a></li>
				<li class="gallery-section__item"><a href="#pedicare" class="gallery-section__link" data-filter=".massage">PEDICARE</a></li>
			</ul>

		</div>
	</div>
	<div class="photo">
		<div class="photo__sizer"></div>
		<div class="photo__item spabath">
			<img src="img/Layer13.jpg" alt="">
		</div>
		<div class="photo__item spabath">
			<img src="img/Layer15.jpg" alt="">
		</div>
		<div class="photo__item manicare">
			<img src="img/Layer16.jpg" alt="">
		</div>
		<div class="photo__item spabath">
			<img src="img/Layer17.jpg" alt="">
		</div>
		<div class="photo__item facial">
			<img src="img/Layer18.jpg" alt="">
		</div>
		<div class="photo__item manicare">
			<img src="img/Layer19.jpg" alt="">
		</div>
		<div class="photo__item massage">
			<img src="img/Layer20.jpg" alt="">
		</div>
		<div class="photo__item facial">
			<img src="img/Layer12.jpg" alt="">
		</div>
		<div class="photo__item spabath">
			<img src="img/Layer21.jpg" alt="">
		</div>
		<div class="photo__item facial">
			<img src="img/Layer22.jpg" alt="">
		</div>
	</div>
</section>