<section class="services-section" id="services">
	<div class="services-section__cont">
		<div class="services-section__wrap text-center">
			<h1 class="services-section__title">OUR SERVICES</h1>
			<ul class="services-section__list">
				<li class="services-section__item"><a href="#massage" class="services-section__link active">MASSAGE</a></li>
				<li class="services-section__item"><a href="#facial" class="services-section__link">Facial</a></li>
				<li class="services-section__item"><a href="#spabath" class="services-section__link">SPA BATH</a></li>
				<li class="services-section__item"><a href="#manicare" class="services-section__link">MANICARE</a></li>
				<li class="services-section__item"><a href="#pedicare" class="services-section__link">PEDICARE</a></li>
			</ul>
		</div>
		<div class="services-section__main" id="massage">
			<div class="services-section__text" >
				<h2 class="services-section__subtitle"><span>Aaroa</span>therapy</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
				<ul class="services-section__sublist">
					<li class="services-section__subitem">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					</li>
					<li class="services-section__subitem">
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
					</li>
					<li class="services-section__subitem">
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
					</li>
				</ul>
			</div>
			<div class="services-section__img">
				<img src="img/services.png" alt="">
			</div>
		</div>
	</div>
</section>