<section class="slider-section" id="slider">
	<div class="slider-section__cont single-item" id="main-screen__slider">
		<div class="slider-section__wrap text-center">
			<p class="slider-section__title">WHAT OUR CLIENTS SAY</p>

			<p class="slider-section__text">rem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<div class="slider-section__girl text-center"><img src="img/girl.png" alt=""></div>
			<p class="slider-section__sign">- JENNY JOE, MODEL</p>
		</div>


		<div class="slider-section__wrap text-center">
	<p class="slider-section__title">WHAT OUR CLIENTS SAY</p>

	<p class="slider-section__text">rem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
	<div class="slider-section__girl"><img src="img/girl.png" alt=""></div>
	<p class="slider-section__sign">- JENNY JOE, MODEL</p>
</div>

	<div class="slider-section__wrap text-center">
		<p class="slider-section__title">WHAT OUR CLIENTS SAY</p>

		<p class="slider-section__text">rem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<div class="slider-section__girl"><img src="img/girl.png" alt=""></div>
		<p class="slider-section__sign">- JENNY JOE, MODEL</p>
	</div>
</div>

</section>